USE [AutoCom]
GO
/****** Object:  Table [dbo].[ChapterA_TEST]    Script Date: 30/01/2026 10:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterA_TEST](
	[territory] [int] NULL,
	[class] [int] NULL,
	[amountOfInsurance] [int] NULL,
	[dossier] [int] NULL,
	[grp] [int] NULL,
	[chapterABasePremium] [int] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ChapterA_TEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterB2_TEST]    Script Date: 30/01/2026 10:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterB2_TEST](
	[territory] [int] NULL,
	[class] [int] NULL,
	[deductible] [int] NULL,
	[dossier] [int] NULL,
	[grp] [int] NULL,
	[chapterB2BasePremium] [int] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ChapterB2_TEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterB3_TEST]    Script Date: 30/01/2026 10:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterB3_TEST](
	[territory] [int] NULL,
	[class] [int] NULL,
	[deductible] [int] NULL,
	[grp] [int] NULL,
	[chapterB3BasePremium] [int] NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ChapterB3_TEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Territory_TEST]    Script Date: 30/01/2026 10:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Territory_TEST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](255) NULL,
	[censusDivision] [nvarchar](255) NULL,
	[territory] [int] NOT NULL,
 CONSTRAINT [PK__Territor__3214EC2743572B24] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChapterA_TEST] ON 

INSERT [dbo].[ChapterA_TEST] ([territory], [class], [amountOfInsurance], [dossier], [grp], [chapterABasePremium], [id]) VALUES (802, 33, 1000000, 4, 4, 73, 1)
INSERT [dbo].[ChapterA_TEST] ([territory], [class], [amountOfInsurance], [dossier], [grp], [chapterABasePremium], [id]) VALUES (802, 33, 1000000, 4, 5, 78, 2)
INSERT [dbo].[ChapterA_TEST] ([territory], [class], [amountOfInsurance], [dossier], [grp], [chapterABasePremium], [id]) VALUES (802, 33, 1000000, 4, 6, 83, 3)
SET IDENTITY_INSERT [dbo].[ChapterA_TEST] OFF
GO
SET IDENTITY_INSERT [dbo].[ChapterB2_TEST] ON 

INSERT [dbo].[ChapterB2_TEST] ([territory], [class], [deductible], [dossier], [grp], [chapterB2BasePremium], [id]) VALUES (802, 33, 250, 4, 4, 118, 1)
INSERT [dbo].[ChapterB2_TEST] ([territory], [class], [deductible], [dossier], [grp], [chapterB2BasePremium], [id]) VALUES (802, 33, 250, 4, 5, 131, 2)
INSERT [dbo].[ChapterB2_TEST] ([territory], [class], [deductible], [dossier], [grp], [chapterB2BasePremium], [id]) VALUES (802, 33, 250, 4, 6, 157, 3)
SET IDENTITY_INSERT [dbo].[ChapterB2_TEST] OFF
GO
SET IDENTITY_INSERT [dbo].[ChapterB3_TEST] ON 

INSERT [dbo].[ChapterB3_TEST] ([territory], [class], [deductible], [grp], [chapterB3BasePremium], [ID]) VALUES (802, 33, 100, 4, 40, 1)
INSERT [dbo].[ChapterB3_TEST] ([territory], [class], [deductible], [grp], [chapterB3BasePremium], [ID]) VALUES (802, 33, 100, 5, 49, 2)
INSERT [dbo].[ChapterB3_TEST] ([territory], [class], [deductible], [grp], [chapterB3BasePremium], [ID]) VALUES (802, 33, 100, 6, 63, 3)
SET IDENTITY_INSERT [dbo].[ChapterB3_TEST] OFF
GO
SET IDENTITY_INSERT [dbo].[Territory_TEST] ON 

INSERT [dbo].[Territory_TEST] ([ID], [city], [censusDivision], [territory]) VALUES (1, N'Cantley', N'Hull', 802)
INSERT [dbo].[Territory_TEST] ([ID], [city], [censusDivision], [territory]) VALUES (2, N'Val-Des-Monts', N'Papineau', 802)
INSERT [dbo].[Territory_TEST] ([ID], [city], [censusDivision], [territory]) VALUES (3, N'Chelsea', N'Gatineau', 802)
SET IDENTITY_INSERT [dbo].[Territory_TEST] OFF
GO
